<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575039545179-3v4t2hs348t3bhbv7e1rqqbuoethegq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575039545179-3v4t2hs348t3bhbv7e1rqqbuoethegq4</string>
	<key>API_KEY</key>
	<string>AIzaSyBWHbiVvvvja3vjRFfkm46KqBEK2Zn8sZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>575039545179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inkme</string>
	<key>PROJECT_ID</key>
	<string>inkme-ada04</string>
	<key>STORAGE_BUCKET</key>
	<string>inkme-ada04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575039545179:ios:d9b2cbc828da4cb18c047e</string>
	<key>DATABASE_URL</key>
	<string>https://inkme-ada04.firebaseio.com</string>
</dict>
</plist>